body{
    background: url("Шахматка.jpg")no-repeat;
    /*background: url(images/mybg.png) 100% 100% no-repeat; !* Добавляем фон *!*/
    background-size: cover; /* Масштабируем фон */
    margin-top:30px;
    padding-left: 150px;
    padding-right :150px;
}
.grid{
    display: grid;
    /*grid-template-columns:repeat(2, 2fr 3fr 1fr);*/
    grid-template-columns:repeat(8, 3fr); /* 3 раза поторяется столбцы *!*/
    grid-template-rows:repeat(8,120px); /* 4 строки со стандартным рамерам */
    /*grid-template-columns: 1fr 1fr 1fr;!* количество  столбцов *!*/
    /*grid-template-rows: 1fr 1fr;  !* количество строк*!*/
    grid-gap:2px 1px; /* ОСТУПЫ между строками и столбцами */
}

.grid > *{
    background:white;
    color: #000000;
    padding: 2em;
    border-radius: 1em;
    border: 1px solid #000;
}

.a1{
    color:blue;
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #82172c;
    text-align: center;
    font-size:16px;
}
.a2{
    color:blue;
    grid-column: 3/4;
    grid-row: 8/9;
    background-color: #82172c;
    text-align: center;
    font-size:16px;

}
.a3{
    color:blue;
    grid-column: 6/7;
    grid-row: 5/6;
    background-color: #82172c;
    text-align: center;
    font-size:16px;
}
.a4{
    color:red;
    grid-column: 2/3;
    grid-row: 6/7;
    background-color: #13a4a4;
    text-align: center;
    font-size:16px;

}
.a5{
    color:red;
    grid-column: 7/8;
    grid-row: 3/4;
    background-color: #13a4a4;
    text-align: center;
    font-size:16px;

}
.a6{
    color:red;
    grid-column: 8/9;
    grid-row: 8/9;
    background-color: #13a4a4;
    text-align: center;
    font-size:16px;
}
.a7{
    color:red;
    grid-column: 2/3;
    grid-row: 4/5;
    background-color: #13a4a4;
    text-align: center;
    font-size:16px;
}
.a8{
    color:red;
    grid-column: 4/5;
    grid-row: 2/3;
    background-color: #13a4a4;
    text-align: center;
    font-size:16px;
}
.a9{
    color:red;
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: #13a4a4;
    text-align: center;
    font-size:16px;
}
.a10 {
    color:red;
    grid-column: 5/6;
    grid-row: 7/8;
    background-color: #13a4a4;
    text-align: center;
    font-size:16px;
}