p{
    background: aqua;
    font-size: 21px;
    width: auto;
    height: 11px;
    text-align: center;
    color:blue;
}
h1{
    background: aqua;
    font-size: 21px;
    width: auto;
    color: blue;
}
h2{
    background: aqua;
    font-size: 21px;
    width: auto;
    height: 23px;
    text-align: center;
    color: blue;
}
.one{
    background: aqua;
    font-size: 21px;
    width: auto;
    height: 23px;
}
.gred12{
    background: darkorchid;
    font-size:10px;
    width: auto;
    height: 15px;
    text-align: center;
    color: blue;
}
.bro1{
    background: aqua;
    font-size: 21px;
    width: auto;
    height: 23px;
    text-transform:inherit;
    text-align: center;
    color: blue;
}
.bro2{
    background: aqua;
    font-size: 21px;
    width: border-box;
    height:auto;
    text-align: right;
    color: darkred;
}