body{
    background:#999999;
}
.content{
    max-width:1080px;
    margin: 0 auto;
}
.site-nav{
    display: -ms-flexbox;/* для обращение  к интернет экспловер 10 версии*/
    display: -webkit-flex; /* Для сафари и интернет экспловера 8 версии и ниже*/
    display:flex;
    padding:.5em;
    background:#13a4a4;
    list-style-type: none;
}
.site-nav > li > a{
    background:#ff6603 ;
    color:#fff;
    text-decoration: none;
    display:block;
    padding:.5em;
    border-radius: 8px;
}
.site-nav > li + li{
    margin-left: 1.3em;
}
.site-nav .nav-right{
    margin-left:auto ;
}
.tile{
    background:#fff;
    padding:1.4em;
}
.flex{
    display: flex;
}
.flex > * +*{ /* запись говорит что обращаемся ко всем элементам при этом игнорируем первый элемент */
    margin-top:0px;
    margin-left:2em;
}
.column-main{
    flex:2;
}
.column-sidebar{
    flex:1;
    /*flex-basis: ;*/
    /*flex-grow: ;*/
    /*flex-shrink: ;*/
}
