body{
    background:rgba(13,122,160,0.9);
    padding: 0 20px 20px 20px ;/* отступы в нутри блока с 4 строн по часовой стрелки */
    margin: 0;/* отступы внешние */
}
article{
    max-width: 760px;
    margin: 0 auto;
}
p{
    color: rgb(255,255,255);
    font-size: 18px;/* 16px=1 em , %  */
    font-family:'Kurale', Arial, Helvetica, serif;
    /*font-family:'Bilbo', cursive,sans-serif;*/
}
h1,h2,h3{
    color: rgb(255,255,255);
    font-family: Arial, Padauk,serif;
    border-bottom: 2px solid #ff3421;
    padding-top: 12px;
    padding-bottom: 4px ;
}
h1{
    font-size: 2em;
}
#logo{
    font-family: Baskerville, Palatino,sans-serif ;
    font-size: 2.1em;
    color: rgba(255, 255, 255, 0.8);
    font-style: italic;
    text-align: center;
    margin-bottom: 36px;
    background: rgb(190, 180, 110);
    border-radius: 0 0 10px 10px;
    padding: 12px;
}
.note{
    color: #000000;
    border:2px solid #fff;
    background: rgb(69, 189, 102);
    margin-top:22px;
    margin-bottom:30px ;
    padding:18px;
}