body{
    padding: 60px;
}
a.button{
    border: 1px solid rgb(0,9,0);
    border-radius: 3px;
    background-color: rgb(50,50,50);
    padding: 4px;
    text-decoration: none;
    font-size: 1.3em;
    color: #fff;
}
a.button:hover{
    border: 1px solid rgb(123,9,123);
    border-radius: 3px;
    background-color: rgb(222,222,222);
    padding: 4px;
    text-decoration: none;
    font-size: 1.3em;
    color: #000;
}
.nav{
     list-style-type: none;
    padding: 0;
    margin: 0;
}
.nav a{
    display:block;
    width: 250px;
    line-height: 1.5em;
    padding: 3px;
    border: 1px solid rgb(0,9,0);
    border-radius: 3px;
    background-color: rgb(50,50,50);
    text-decoration: none;
    font-size: 1.3em;
    color: #fff;
    margin: 2px;
}
.nav a:hover{
    display:block;
    width: 250px;
    line-height: 1.5em;
    border: 1px solid rgb(123,9,123);
    border-radius: 3px;
    background-color: rgb(222,222,222);
    padding: 3px;
    text-decoration: none;
    font-size: 1.3em;
    color: #000;
    margin: 2px;
}
.nav1{
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}
.nav1 li{
    display: inline;
}
.nav1 a{
    display: inline-block;
    border: 1px dashed #000;
     padding: 5px 10px;
     background: #1a1a1a;
    text-decoration: none;
    color: #f33;
    border-radius: 3px;
}
.wrap{
    position: relative;
}
.wrap-scroll{
    margin-left: 100px;
    width: 300px;
    overflow: auto;
}
table{
    width: 500px;
}
table td{
    width: 100px;
    border: 1px solid #ccc;
}
table tr td:first-child{
    width: 100px;
    position: absolute;
    left: 0px;
    z-index: 100;
}