@media(min-width: 768px){
 .main{
  display: flex;
  /*align-items: flex-start;
  align-items: center;
  flex-direction: column;*/
 }
 .main-2{
  display: flex;
  justify-content: space-around;
 }
 .boxes{
  width: 28%;
 }
}
.main div, .main-2 div{
 border: 1px solid #234cc2;
 padding: 12px;
}
.box-1{
 flex:1;
 order:3;
}
.box-2{
 flex:2;
 order:1;
}
.box-3{
 flex:1;
 order:2;
}
