p{
    background: aqua;
    font-size: 21px;
    width: auto;
    height: 11px;
    text-transform: inherit;
    text-align: center;
    color:blue;
}
h1{
    background: aqua;
    font-size: 21px;
    width: auto;
    color: blue;
}
h2{
    background: aqua;
    font-size: 21px;
    width: auto;
    height: 23px;
    text-transform: uppercase;
    text-align: center;
    color: blue;
}
.one{
    background: aqua;
    font-size: 21px;
    width: auto;
    height: 23px;
    text-transform: full-width;
    text-align: center;
    color: blue;
}
.12{
    background: darkorchid;
    font-size:10px;
    width: auto;
    height: 15px;
    text-transform: lowercase;
    text-align: center;
    color: blue;
}
.H1{
    background: aqua;
    font-size: 21px;
    width: auto;
    height: 23px;
    text-transform: none;
    text-align: center;
    color: blue;
}
.H2{
    background: aqua;
    font-size: 21px;
    width: border-box;
    height:auto;
    text-transform: unset;
    text-align: right;
    color: darkred;
}