body{
    background: #ccc;
}
.container{
    max-width: 1080px;
    margin: 0 auto;
}

.site-nav{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    padding: .5em;
    background: #54b454;
    list-style-type: none;
}

.site-nav > li > a{
    background: #8cc1c1;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: .5em .7em;
}

.site-nav > li + li{
    margin-left: 1.3em;
}

.site-nav > .nav-right{
    margin-left: auto;
}

.tile{
    background: #fff;
    padding: 1.4em;
}
.flex{
    display: flex;
    /*flex-direction: row-reverse;*/
}
.flex > * + *{
    margin-top: 0;
    margin-left: 2em;
}
.column-main{
    flex: 1;
}
.column-sidebar{
    flex:0 0 260px;
}
.login-form h3 {
    margin: 0;
    font-size: .9em;
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
}

.login-form input:not([type=checkbox]):not([type=radio]) {
    display: block;
    margin-top: 0;
    width: 100%;
}

.login-form button {
    margin-top: 1em;
    border: 1px solid #cc6b5a;
    background-color: white;
    padding: .5em 1em;
    cursor: pointer;
}
.flex-row{
    display: flex;
}
.flex-row .box{
    margin: 0.5em;
    border: 1px solid red;
}
.flex-row .box-1, .flex-row .box-3{
    flex: 1 1 300px;
}
.flex-row .box-2{
    flex: 2 4 200px;
}

/*flex: 2 1 auto;* (<flex-grow> | <flex-shrink> | <flex-basis>) */